body {
  margin: 0;
  background-image: url("images/vegas-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  font-size: 24px;
  color: black;
}

.secondary_header ul {
  margin: 0 auto;
  padding: 0 0 15px 0;
  width: 100%;
  text-align: center;
}

.secondary_header ul li {
  display: inline-block;
  list-style: none;
  color: black;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  letter-spacing: 1px;
  margin: 0 1%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.secondary_header ul li:hover {
  color: #717070;
}

.social {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  background-color: rgba(65, 65, 65, 0.5);
  clear: both;
  overflow: auto;
}

.social_icon {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 7px 0;
  transition: all 0.3s linear;
}

.social_icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer {
  background-color: rgba(113, 112, 112, 0.5);
}

.copyright {
  text-align: center;
  color: black;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 25px 0 0 0;
}

@media (max-width: 768px) {
  .left_article, .right_article, .columns, .column_half.left_half, .column_half.right_half {
    width: 100%;
    float: none;
  }

  .secondary_header ul li {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .hero-wrapper img.logo {
    top: 70%;
    left: 50%;
    width: 57.5vw;
  }
}

.hero-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.hero-wrapper img.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-wrapper img.logo {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 28.75vw;
  max-width: 489px;
  min-width: 138px;
  height: auto;
}
